{% extends 'blog/base.html' %}


{% block stylesheet %}
    <style>
        .btnlist li {padding:10px; list-style: none}
    </style>
{% endblock %}


{% block content %}
    <ul class="btnlist">
        <li>
            첫번째 인자는 새 창에 로드할 문서의 URL이다. 인자를 생략하면 이름이 붙지 않은 새 창이 만들어진다.<br />
            <input type="button" onclick="open1()" value="window.open('demo3.html');" />
        </li>
        <li>
            두번째 인자는 새 창의 이름이다. _self는 스크립트가 실행되는 창을 의미한다.<br />
            <input type="button" onclick="open2()" value="window.open('demo3.html', '_self');" />
        </li>
        <li>
            _blank는 새 창을 의미한다. <br />
            <input type="button" onclick="open3()" value="window.open('demo3.html', '_blank');" />
        </li>
        <li>
            창에 이름을 붙일 수 있다. open을 재실행 했을 때 동일한 이름의 창이 있다면 그곳으로 문서가 로드된다.<br />
            <input type="button" onclick="open4()" value="window.open('demo3.html', 'ot');" />
        </li>
        <li>
            세번재 인자는 새 창의 모양과 관련된 속성이 온다.<br />
            <input type="button" onclick="open5()" value="window.open('demo3.html', '_blank', 'width=400, height=400, resizable=yes');" />
        </li>

        <li>
            새창을 열고, Text의 내용을 바꾸면 새창의 내용이 원격으로 제어된다. </br>
            <input type="button" value="open demo5.html" onclick="winopen();" />
            <input type="text" value="text" onkeypress="winmessage(this.value)" />
            <input type="button" value="close demo5.html" onclick="winclose()" />
        </li>
    </ul>
{% endblock %}

{% block javascript %}
    <script>

        alert('window.open popup은 차단된다')

        window.open('{% url "demo5" %}', '_blank');

        function open1(){
            window.open('{% url "demo3" %}');
        }
        function open2(){
            window.open('{% url "demo3" %}', '_self');
        }
        function open3(){
            window.open('{% url "demo3" %}', '_blank');
        }
        function open4(){
            window.open('{% url "demo3" %}', 'ot');
        }
        function open5(){
            window.open('{% url "demo3" %}', '_blank', 'width=400, height=400, resizable=no');
        }

        function winopen(){
            win =  window.open('{% url "demo5" %}', 'ot', 'width=300px, height=500px');
        }

        function winmessage(msg){
            win.document.getElementById('message').innerText=msg;
        }

        function winclose(){
            win.close();
        }

    </script>
<!--</body>-->
{% endblock %}