
{% extends 'blog/base.html' %}

{% block content %}



    <ul><p style="font-weight:bold;color:blue;font-size:20px">git</p>
        <li>open powershell</li>
        <li>change directory to project</li>
        <li>git config --global user.name</li>
        <li>git config --global user.email</li>
        <li>git status</li>
        <li>git add --all</li>
        <li>git commit -m "decribe change note"</li>
        <li>git push -u origin master</li>
    </ul>

<hr>

    <ul><p style="font-weight:bold;color:blue;font-size:20px">python anywhere</p>
        <li>log on to pythonanywhere</li>
        <li>at console</li>
        <li>git pull --all</li>
    </ul>


{% endblock %}