
{% extends 'blog/base.html' %}

{% block content %}

    <ul style="font-size:13px"> <H3>ToDo</H3>
        <li>application based project url </li>
        <li>picture bone</li>
        <li>DUT data chart and option</li>
        <li>chart option : legend etc</li>
        <li>delete device by view,model</li>
        <li>search method on bootstrap menu</li>
    </ul>

    <hr>

    <ul style="font-size:13px"> <h3>Done</h3>
        <li>data option on 2nd td</li>
            <ol>
                <li>amst.Device menu에 option button 추가 </li>
                <li>js code</li>
            </ol>
        <li>bootstrap menu item</li>
            <ol>
                <li>bootstrap sample code insert</li>
                <li>.js / .min.js : only use one..</li>
            </ol>
        <li>bootstrap menu : hover</li>
            <ol>
                <li>.navbar-nav > li:hover > .dropdown-menu {display: block;}</li>
            </ol>

        <li>bootstrap sub-menu : hover</li>
            <ol>
                <li>.dropdown-submenu{ .....}</li>
            </ol>

        <li>application for PGM note</li>
            <ol>
                <li>this page is for this purpose</li>
            </ol>

        <li>onload event</li>
            <ol>
                <li>window.onload=function(){}</li>
            </ol>

    </ul>

{% endblock %}
