{% extends 'blog/base.html' %}

{% block content %}
  <style>
  </style>


<h1> jQuery API</h1>
<ul> <p style="font-weight:bold;font-size:20px">text control</p>
    <li>p tag 내용(분리선아래)을 split하여 배열에 담는다. : $(..).first().text().split(/\s+/ )</li>
    <li>배열에 .join을 사용하여 span tag로 만든다.</li>
    <li>p tag 내용 전체가 단어단위로 span tag에 묶여있게된다.</li>
    <li style="font-weight:bold;color:blue">$('span').on("click", function(){ $(this).css("background-color","yellow") : css API </li>
    <li>분리선 아래에서 단어를 click하면 background가 노랗게 변한다.</li>
</ul>

<ul> <p style="font-weight:bold;font-size:20px">mouse control</p>
    <li>mouseenter, mokuseleave를 위한 jQuerey CSS script 작성</li>
    <li>style을 dict 형식으로 담아서 변경할수 있다.</li>
    <li style="font-weight:bold;color:blue">$(".mousetest").on( "mouseenter", function(){....}.on( "mouseleave", function(){...}: css API </li>
    <li>분리선 아래에서 문단위를 움직여본다.</li>
</ul>

<hr>

<p id="toyellow">
  Once upon a time there was a man
  who lived in a pizza parlor. This
  man just loved pizza and ate it all
  the time.  He went on to be the
  happiest man in the world.  The end.
</p>

<hr>

<p class="mousetest">Move the mouse over a paragraph.</p>
<p class="mousetest">Like this one or the one above.</p>

<script>

  var words = $( "#toyellow" ).first().text().split( /\s+/ );
  var text = words.join( "</span> <span>" );
  $( "#toyellow" ).first().html( "<span>" + text + "</span>" );
  $( "span" ).on( "click", function() {
    $( this ).css( "background-color", "yellow" );
  });

  $( ".mousetest" )
  .on( "mouseenter", function() {
    $( this ).css({
      "background-color": "yellow",
      "font-weight": "bolder"
    });
  })
  .on( "mouseleave", function() {
    var styles = {
      backgroundColor : "#ddd",
      fontWeight: ""
    };
    $( this ).css( styles );
  });

</script>

{% endblock %}